@model HotelDeBotel.Domain.Room

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Naam
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           Grootte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
          Prijs
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
           Afbeelding
        </dt>

        <dd>
            <img src="@Model.Image" alt="Alternate Text" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Id }, new { @class = "btn btn-dark" }) 
    @Html.ActionLink("Terug naar overzicht", "Index", null, new { @class = "btn btn-light" })
</p>
