@using System.Web.UI.WebControls
@model HotelDeBotel.Models.BookingViewModel


<div class="container center_div mb-5">
    <div class="row">
        <div class="col">
            <ul class="progressbar">
                <li class="active">Aantal Personen </li>
                <li>Contact Gegevens </li>
                <li>Prijs berekenen & Reservering bevestigen </li>
            </ul>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row mt-5">
            <div class="col-7">

                <h4 class="mb-5">Aantal personen en datum</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.Room.Id)

                <div class="form-group row">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date", @min = DateTime.Now } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger", @min = DateTime.Now })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-2"> Aantal personen </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumberOfGuests, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @max = 5 } })
                        @Html.ValidationMessageFor(model => model.NumberOfGuests, "", new { @class = "text-danger", @min = DateTime.Now })
                    </div>
                </div>

                <div class="form-group mt-5">
                    <input type="submit" value="Volgende stap" formaction="@Url.Action("BookingContactDetails")" class="btn btn-dark" />
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="@Model.Room.Image" alt="Card image cap">
                    @Html.HiddenFor(m => m.Room.Image)
                    <div class="card-body">
                        <div class="font-weight-bold">
                            @Html.DisplayFor(modelItem => Model.Room.Name) <br />
                            @Html.HiddenFor(m => m.Room.Name)
                        </div>  
                        Aantal personen:
                        @Html.DisplayFor(modelItem => Model.Room.Size) <br />
                        @Html.HiddenFor(m => m.Room.Size)
                        Prijs:
                        @Html.DisplayFor(modelItem => Model.Room.Price) <br />
                        @Html.HiddenFor(m => m.Room.Price)
                    </div>
                </div>
            </div>
        </div>

    }
</div>